*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #d0be37;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: #ffffff;
}
.nav{
    gap: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.li{
    display: inline;
}
.container{
    background-color: #f4f4f9;
    height: 100vh;   
}
.footer{
    margin-top: 25vh;
    background-color: #d0be37;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.main{
    padding: 30px 10px;
    width: 80vw;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 30px auto;
    text-align: center;
    box-shadow: gray;
}
h2{
    font-size: 40px;
}
table{
    height: 30vh;
    justify-content: center;
    margin: 10px auto;
    width: 75vw;
    border-collapse: collapse;
    border-color: #dedede;
}
thead{
    background-color: #d0be37;
    color: #ffffff;
}
th{
    padding: 10px 0px;

}
tbody > :nth-child(even){
    background-color: #f9f9f9;
}